.maincontainer {
  width: 40%;
  height: auto;
}
.color_section {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.redband {
  width: 65px;
  height: 50px;
  border-radius: 10px;
  background-color: #ca3d22;
  cursor: pointer;
}
.blueband {
  width: 65px;
  height: 50px;
  border-radius: 10px;
  background-color: #565681;
  cursor: pointer;
}
.blackband {
  width: 65px;
  height: 50px;
  border-radius: 10px;
  background-color: #23211f;
  cursor: pointer;
}
.purpleband {
  width: 65px;
  height: 50px;
  border-radius: 10px;
  background-color: #8a5362;
  cursor: pointer;
}
.feature_section {
  width: 50%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
}
.timebtn {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: #ccc;
  cursor: pointer;
}
.heartbtn {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: #ccc;
  cursor: pointer;
}
.buy_section {
  width: 50%;
  text-align: center;
}
.buybtn {
  width: 60%;
  height: 50px;
  border-radius: 5px;
  background-color: #f09f0a;
  text-transform: uppercase;
  cursor: pointer;
}
